* { font-family: sans-serif; }

form { position: fixed; }
#boxes { padding-top: 4em; }

.box {
  text-align: center;
  display: table-cell; 
  border-spacing: 1em 0;
}

.box p { margin: .5em; }

.first { background: #ede5dc; }
.second { background: #f6eaeb; }
.third { background: #f9dbdc; }
.fourth { background: #fff6f2; }
.fifth { background: #f4e0d4; }
