<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
>
  <head>
    <link
      rel="stylesheet"
      href="${url_for('static', filename='screen.css')}"
    />

    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
    />

    <script
      py:for="filename in ('hscroll.js', 'live.js')"
      type="text/javascript"
      src="${url_for('static', filename=filename)}"
    />
  </head>
  <body>

    <form action="${url_for('index')}" method="GET">
      <p>
        <input
          id="text"
          name="text"
          value="${request.args.get('text')}"
          placeholder="coi pilno mi'e camxes"
          autofocus="autofocus"
          autocomplete="off"
          required="required"
          size="80"
          class="${'grammatical' if grammatical else 'ungrammatical'}"
        />
      </p>
    </form>

    <div id="boxes">
      <xi:include href="box.html"/>
    </div>
  </body>
</html>
